<div class="container product-list">
  <h2 class="mb-4">{{ "PRODUCT.PRODUCT_TITLE" | translate }}</h2>
  <div class="mb-4">
    <input
      type="text"
      class="form-control search-input"
      [(ngModel)]="searchQuery"
      (keyup)="filterProducts()"
      placeholder="{{ 'PRODUCT.SEARCH_PRODUCTS' | translate }}"
    />
  </div>
  <div class="row mb-5">
    <div class="col-md-4 col-lg-4 product-card" *ngFor="let product of filteredProducts">
      <div class="card">
        <img
          [src]="'assets/products/' + product.imageUrl"
          class="product-img"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">${{ product.price }}</p>
          <button
            class="btn btn-primary"
            (click)="addToCart(product)"
            *ngIf="!isAddedToCart(product.id)"
          >
            {{ "PRODUCT.ADD_TO_CART" | translate }}
          </button>
          <button
            class="btn btn-danger"
            (click)="removeFromCart(product.id)"
            *ngIf="isAddedToCart(product.id)"
          >
            <i class="fas fa-trash-alt"></i> {{ "CART.REMOVE_FROM_CART" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-actions">
    <button
      class="btn btn-secondary"
      (click)="goBack()"
      [disabled]="currentPage === 1"
    >
      {{ "APP.BACK_BUTTON" | translate }}
    </button>
    <button
      class="btn btn-secondary"
      (click)="loadMore()"
      *ngIf="filteredProducts.length < products.length"
    >
      {{ "APP.LOAD_MORE_BUTTON" | translate }}
    </button>
  </div>
</div>
