<div class="container product-list">
  <h2 class="mb-4">{{ "PRODUCT.PRODUCT_TITLE" | translate }}</h2>
  <div class="mb-4">
    <input
      type="text"
      class="form-control search-input"
      [(ngModel)]="searchQuery"
      (keyup)="filterProducts()"
      placeholder="{{ 'PRODUCT.SEARCH_PRODUCTS' | translate }}"
    />
  </div>
  <div class="row mb-5">
    <div class="col-md-4 col-lg-4 product-card" *ngFor="let product of filteredProducts">
      <div class="card">
        <img
          [src]="'assets/products/' + product.imageUrl"
          class="product-img"
          alt="Product Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text text-muted">{{ product.description }}</p>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text price m-0">₦{{ product.price | number: '.2-2' }}</p>
            <button class="btn btn-light shadow btn-sm" data-bs-toggle="modal" data-bs-target="#productModal" (click)="viewProductDetails(product)">
              <i class="fas fa-eye"></i> View Details
            </button>
          </div>

          <div class="mt-3">
            <button
              class="btn btn-primary w-100"
              (click)="addToCart(product)"
              *ngIf="!isAddedToCart(product.id)"
            >
              {{ "PRODUCT.ADD_TO_CART" | translate }}
            </button>
            <button
              class="btn btn-danger w-100"
              (click)="removeFromCart(product.id)"
              *ngIf="isAddedToCart(product.id)"
            >
              <i class="fas fa-trash-alt"></i> {{ "CART.REMOVE_FROM_CART" | translate }}
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="btn-actions">
    <button
      class="btn btn-secondary"
      (click)="goBack()"
      [disabled]="currentPage === 1"
    >
      {{ "APP.BACK_BUTTON" | translate }}
    </button>
    <button
      class="btn btn-secondary"
      (click)="loadMore()"
      *ngIf="filteredProducts.length < products.length"
    >
      {{ "APP.LOAD_MORE_BUTTON" | translate }}
    </button>
  </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Product Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedProduct">
        <img [src]="'assets/products/' + selectedProduct.imageUrl" class="img-fluid" alt="Product Image">
        <h5>{{ selectedProduct.name }}</h5>
        <p>{{ selectedProduct.description }}</p>
        <p>₦{{ selectedProduct.price | number: '.2-2' }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
