

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price{
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}
