<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">{{"CHART.CHART_TITLE"| translate}}</h2>
      <canvas baseChart
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [type]="chartType">
      </canvas>
    <div class="d-flex justify-content-end">
      <button (click)="addData()" class="btn btn-primary mt-3 ">
        {{ "CHART.CHART_BUTTON" | translate }}
      </button>
    </div>
    </div>
  </div>
</div>
